{% extends 'base.html.twig' %}

{% block title %}Logiciels{% endblock %}

{% block body %}
    <h1>Logiciels</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Author</th>
                <th>Filename</th>
                <th>Version</th>
                <th>FileSize</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for software in software %}
            <tr>
                <td>{{ software.id }}</td>
                <td>{{ software.name }}</td>
                <td>{{ software.author }}</td>
                <td>{{ software.filename }}</td>
                <td>{{ software.version }}</td>
                <td>{{ software.fileSize }}</td>
                <td><img class="w64max" src="{{ asset('app/images/' ~ software.image) }}" alt="{{ software.name }}" ></td>
                <td>
                    <a href="{{ path('software_show', {'id': software.id}) }}">show</a>
                    <a href="{{ path('software_edit', {'id': software.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('software_new') }}">Create new</a>
{% endblock %}
